In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('weather-processed.csv')
df

      precipitation      wind  temp_avg
0          0.000000  0.472527  0.416393
1          0.194991  0.450549  0.344262
2          0.014311  0.208791  0.434426
3          0.363148  0.472527  0.416393
4          0.023256  0.626374  0.316393
...             ...       ...       ...
1456       0.153846  0.274725  0.224590
1457       0.026834  0.098901  0.234426
1458       0.000000  0.241758  0.252459
1459       0.000000  0.329670  0.200000
1460       0.000000  0.340659  0.181967

[1461 rows x 3 columns]